$accent-yellow: #f1af01;

.circle__icon {
	position: relative;
	display: grid;
	place-items: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: $accent-yellow;
	color: #fff;
	z-index: 1;
	aspect-ratio: 1/1;
}
