@import '../../assets//styles//breakpoints.scss';

$content-width: 1300px;
$color-grey: rgba(129, 105, 76, 0.1);
$color-grey-dark: #3d3a36;
$accent-yellow: #f1af01;

.highlight {
	margin: 100px 0;
	cursor: pointer;

	&:hover {
		background-color: rgba(129, 105, 76, 0.3);
	}

	@include md-max {
		margin: 25px 0;
	}
}

.highlights__inner {
	width: $content-width;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 22px;

	@include md-max {
		display: flex;
		flex-direction: column;

		width: 100%;
		align-items: stretch;
	}
}

.highlight {
	position: relative;
	flex: 1 1 calc((100% - 2 * 62px) / 3);
	background-color: $color-grey;
	padding: 66px 72px 66px 40px;
	border-radius: 12px;

	@include md-max {
		max-width: 100%;
	}
}

.highlight__circle {
	position: absolute;
	left: 0;
	top: -40px;
	z-index: 2;

	@include md-min {
		left: 32px;
	}
}

.highlight_title {
	color: $color-grey-dark;
	font-weight: bold;
	margin-bottom: 8px;
}

.highlight_text {
	font-weight: 300;
}
